@import '/src/styles/color/colors';
@import '/src/styles/responsive/responsive';

body{
    font-family: 'Poppins';
}

.about-page{
    padding: 50px;
    background-color: $white;
    z-index: 2;
    margin: 0;
}

.about-container{
    display: flex;
    flex-direction: column;
}

.about-container .about-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-top .title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-top .right img{
    margin: 0;
}

.title h1{
    font-size: 64px;
    color: $black;
    margin: 0;
}

@keyframes right {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.right {
    animation: right 2s linear infinite; /* Adjust the animation duration as needed */
}

.about-mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 2rem;
}

.about-mid img{
    margin: 0;
}

.about-mid .description p{
    text-align: justify;
    font-size: 18px;
}

.about-bottom{
    position: relative;
    margin-top: 10px;
    animation: moveUpDown 3s ease-in-out infinite;
}

.about-bottom img{
    margin: 0;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* The element starts and ends at its original position */
    }
    50% {
        transform: translateY(-20px); /* The element moves up 20px at the midpoint of the animation */
    }
}

@media screen and (max-width: $extra) {
    
    .title h1{
        font-size: 48px;
    }
    
    .title img{
        width: 70px;
    }
    
    .right img{
        width: 120px;
    }

    .about-mid{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 130px;
        margin-right: 130px
    }

    .about-mid img{
        width: 400px;
    }

    .about-bottom img{
        width: 170px;
    }
}

@media screen and (max-width: $large) {
    
    .title h1{
        font-size: 48px;
    }
    
    .title img{
        width: 70px;
    }
    
    .right img{
        width: 120px;
    }

    .about-mid{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px
    }

    .about-mid img{
        width: 400px;
    }

    .about-bottom img{
        width: 170px;
    }
}

@media screen and (max-width: $medium) {
    .title h1{
        font-size: 44px;
    }
    
    .title img{
        width: 65px;
    }
    
    .right img{
        width: 110px;
    }

    .about-mid{
        margin-left: 90px;
        margin-right: 90px
    }

    .about-mid img{
        width: 300px;
    }

    .about-mid .description p{
        font-size: 16px
    }
}

@media screen and (max-width: $smedium) {
    .title h1{
        font-size: 33px;
    }
    
    .title img{
        width: 55px;
    }
    
    .right img{
        width: 90px;
    }

    .about-mid{
        margin-left: 50px;
        margin-right: 50px
    }

    .about-mid .description p{
        font-size: 15px
    }
}

@media screen and (max-width: $bsmall) {
    .title h1{
        font-size: 26px;
    }
    
    .title img{
        width: 43px;
    }
    
    .right img{
        width: 85px;
    }

    .about-mid{
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px
    }

    .about-mid .description p{
        font-size: 14px
    }
}

@media screen and (max-width: $small) {
    .title h1{
        font-size: 23px;
    }
    
    .title img{
        width: 40px;
    }
    
    .right img{
        width: 70px;
    }

    .about-mid{
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px
    }

    .about-mid .description p{
        font-size: 13px
    }
}