@import '/src/styles/color/colors';
@import '/src/styles/responsive/responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: $black;
}

::-webkit-scrollbar-track {
  background: $white;
}